ul {
    list-style-type: none;/*liste başındaki yazıları siler*/
    width: 100%;
    height: 50px;
    background-color: rgb(50, 46, 46);
    margin-left: -40px;
    margin-top: -10px;
}

li {
    display: inline-block;
    color: aliceblue;
    padding-top: 13px;
    padding-left: 10px;
    margin-right: -3px;
    height: 36px;
    width: 50px;

}

li:hover {
    background-color: rgb(255, 7, 7);
}

ol {
    list-style-type: none;
    background-color: rgb(50, 46, 46);
    margin-top: 18px;


}

div li {
    margin-left: -40px;
}

#divhome {
    display: none;/*belirtilen divi görünmez yapar*/
    position: absolute;/*belirtilen divi akıştan çıkartır ve yeni özellik eklemeye yarar*/
    height: 150px;
    width: 60px;
    margin-left: -10px;
    margin-top: -10px;
}

.home:hover #divhome /*class ismi home olan IN üzerine geldiğinde id ismi divhome olanın özelliklerini etkiler */{
    display: block;
}

#divabout {
    display:none ;
    position: absolute;
    height: 150px;
    width: 60px;
    margin-left: -10px;
    margin-top: -10px;

}
ul li:nth-child(3):hover #divabout/* ul 3. çocuğu olan linin üzerine geldiğinde id ismi divabout olanın özelliklerini etkiler*/{
display: block;
}